*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter',sans-serif;
}
.container{
    width: 960px;
    margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 80px;
    margin-top: 48px;
}

h1{
    font-size: 40px;
    margin-bottom: 24px;
}

.header-text-box{
align-self: center;
}

.header-text{
    font-size: 18px;
    line-height: 1.7;
}

.btn-chair{
    font-size: 18px;
    padding: 16px 32px;
}
.btn:link{
    background-color: #087f5b;
    display: inline-block;
    /* font-size: 25px; */
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 100px;
}

img{
    width: 100%;
    border-radius: 10px;
}

h2{
    font-size:30px;
}

header,section{
    margin-bottom: 24px;
}
.grid-3-cols{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 24px;
    margin-bottom: 24px;
    column-gap: 80px;
}
.feat-Title{
    font-size: 20px;
    /* font-weight: 500; */
    margin-bottom: 16px;
}
.feat-text{
    font-size: 18px;
    line-height: 1.7;
}

.testimonial-section{
   background-color: #087f5b;
   color: white;
   /* display: grid;
   grid-template-columns: repeat(2,1fr); */
   gap: 30px;
   border-radius: 10px;
   padding: 24px;
}

.testimonial-box{
    grid-column: 2 / -1;
    align-self: center;
    padding-left: 15px;
    /* line-height: 1.6; */
}

.testimonial-text{
    font-size: 18px;
    line-height: 1.7;
    font-style: italic;
}
.testimonial-author{
    font-size: 20px;
    margin-top: 20px;
}