h1,
h2,
h3,
p{
    font-family: cursive, Geneva, Tahoma, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-size: 40px;
    font-style: initial;
    text-align: center;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
    font-family: sans-serif;
}
p{
    font-size: 18px;
    font-family: sans-serif;
}
li{
    font-size: 16px;
    font-family: cursive;
}
header nav a{
    font-size: 18px;
    color: darkviolet;
}
/* header h2{
    color: indigo;
} */

header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: forestgreen;
}
aside img{
    width: 150px;
    height: 150px;
}
aside h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: message-box;
    font-size: 25px;
    font-style: italic;
    color: crimson;
}
/* footer p{
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
} */
/* using id */
#about{
    color: indigo;
    font-style: italic;
    text-decoration-line: underline ;
    text-decoration-color: palevioletred;
}

/* using class */
.copyright{
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.list{
    list-style: none;
}
.activities{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}