h1,
h2,
h3,
p{
    font-family: cursive, Geneva, Tahoma, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-size: 35px;
    font-style: initial;
    text-align: center;
    float: left;
}

h2{
    font-size: 30px;
    position: relative;
    background-color: #1098cd;
}
h3{
    font-size: 25px;
    font-family: sans-serif;
}
p{
    font-size: 18px;
    font-family: sans-serif;
}
li{
    font-size: 16px;
    font-family: cursive;
}
header nav a{
    font-size: 20px;
    color: darkviolet;
    padding-right: 15px;
    padding-top: 35px;
} 
/* header h2{
    color: indigo;
} */
nav{
font-size: 18px;
float: right;
}

nav a:link {
margin-right: 30px;
margin-top: 10px;
display: inline-block;

}

nav a:link:last-child{
    margin-right: 0px;
}

header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: forestgreen;
}
aside img{
    width: 150px;
    height: 150px;
}
aside h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: message-box;
    font-size: 25px;
    font-style: italic;
    color: crimson;
    text-align: center;
    font-weight: bold;
}
/* footer p{
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
} */
/* using id */
#about{
    color: indigo;
    font-style: italic;
    text-decoration-line: underline ;
    text-decoration-color: palevioletred;
}

/* using class nd conflict with id class nd tag */
.copyright{
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #f00 !important;
}
#copy{
    color: blueviolet;
}
.list{
    list-style: none;
}
.activities{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.main-header{
    background-color: #d7dbdb;
    background-color:darkseagreen;
    padding: 20px 40px;
    margin-bottom: 60px;
}

.main-header nav a:link{
    color: #fc751b;
}

h2::before{
    content: "Hello";
    position: absolute;
    top: -10px;
    right: -25px;
    background-color: #f00;
    font-size: 18px;
    display: inline-block;
    padding: 10px;

}
.events{
    background-color: #e0dada;
    border: 5px solid #1098cd;
}
/* pseudo class */
li:first-child{
    font-weight: bold;
}
li:nth-child(2){
    color: #f00;
}
li:last-child{
    font-style: italic;
}
/* pseudo class */
/* styling links */
a:link{
    text-decoration: none;
}
a:visited{
    color: #0c6f96;
}
a:hover{
    font-weight: bold;
    color: #fc751b;
    text-decoration:underline #fc751b;
}
a:active{
    background-color: 0c6f96;
    font-style: italic;
}
.author-img{
    float: left;
    padding-left: 15px;
    margin-top: 15px;
}
.author{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.clear{
    clear: both;
}