*{
    margin: 0;
    padding: 0;
    
}
body{
    border-top: 10px solid darkturquoise;
}
h1,
h2,
h3,
p{
    font-family: cursive, Geneva, Tahoma, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 800px;
   margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 10px;
  align-items: flex-start;
}

.main-header
{
background-color: #f7f7f7;
display: flex;
align-items: center;
justify-content: space-between;
grid-column: 1 / -1;
}
.heading{
   
    font-size: 18px;
    text-decoration: underline;
    color: green;

}

h1{
    color: navy;
}

.navbar a{
    text-decoration: none;
    color: crimson;

}

nav a:link{
    margin-right: 30px;
    display: inline-block;
}

.navbar  a:hover{
    /* background-color: yellow; */
    color: darkgreen;
}

.author-box{
    display: flex;
    align-items: center
}

.author{
    margin-bottom: 0;
    margin-left: 15px;
}

h2{
    padding: 25px 10px;
    color: rgb(11, 122, 122);
    font-size: 30px;
}

h3{
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(11, 122, 122);
    font-size: 25px;
}

h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.events{
    /* border: 2px solid rgb(7, 70, 129); */
    border-top: 5px solid rgb(36 126 210);
    border-bottom: 5px solid rgb(36 126 210);
    width: 300px;
  margin-top: 20px;
  background: #e4e4ed;
}

.events h3{
    text-align: center;
}
/* 
ul li{
    margin-bottom: 20px;
    display: flex;
} */
.list{
    list-style: none;
}

/* img{
    width: 200px;
} */

.activities{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 15px;
}

.post-img{
    margin-top: 15px;
}

.related-link{
    text-decoration: none;
    color: #169195;
    font-weight: 600;
    margin-left: 15px;
}

.related-post{
display: flex;
align-items: center;
margin-left: 15px;

}

footer{
    grid-column: 1/-1;
    background-color: #169195;
}
/* 
.row{
    display: flex;
    gap: 75px;
}

article{
    float: 1;
    margin-bottom: 0;
}

aside{
    flex:0 0 300px;
} */